/*
7E000C = RED
0A2963 = BLUE
727272 = DARK GREY
*/

@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);

h1,h2,h3,h4,h5,h6 {
	font-family: "Vollkorn",Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #0A2963;
	margin-bottom: 5px;
/*	text-shadow: #292929 1px 1px 2px;*/
}
h2,h4,h6 {
/*	font-weight: bold;*/
	color: #7E000C;
/*	text-shadow: #292929 2px 2px 0px;*/
}
h1 {
	font-size: 2.4em;
}
h2 {
	font-size: 2.1em;
}
h2.title {
	font-size: 3.4em;
}
h3 {
	font-size: 1.8em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.3em;
}
h6 {
	font-size: 1.1em;
}
#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6 {
	font-variant: small-caps;
}
.sidebar h1,
.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6 {
	font-weight: bold;
}
p,
.block p {
	margin-bottom: 1em;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: #3893C8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	list-style-position: inside;
}
ol {
	list-style-position: outside;
	margin-left: 2em;
	padding-left: 1em;
}
ol li {
	padding-bottom: 1em;
}
ul li {
	list-style-image: url('http://www.soulfoodcafemission.org/sites/all/themes/soulfood/images/bullet-star.png');
	line-height: 1.4em;
	margin-bottom: 1em;
}

/*PDF DOWNLOADS (ATTACHMENTS / LINKS)---------------*/
#attachments a.pdf {
	background: url('../images/pdf.png')  no-repeat scroll top left;
	padding-left: 20px;
/*	line-height: 18px;*/
}


#page {
	background: #464646 url('../images/bg_header.png')  repeat-x scroll top left;
}

#site-header {
	height: 157px;
	margin-top: 0;
	position: relative;
/*	padding-bottom: 10px;*/
}
#site-header,
#navigation,
#main-content-container,
#messages {
/*	background-color: #393939;*/
}
#navigation {
	margin-bottom: 10px;
}
#preface-wrapper {
	background: url('../images/bg-preface-wrapper.jpg')  no-repeat scroll top center;
	height: 299px;
}


#main-content-container {
	background-color: #DFDED9;
	margin-top: 0;
	padding-top: 30px;
}

#nice-menu-0 {
	position: relative;
	top: 135px;
}
#main-wrapper {
/*	border-top: 1px solid #3B5562;*/
}
#main-inner-wrapper {
	margin-right: 40px;
}
#bottomRunner {
	background: #000 url('../images/bg_footer.jpg')  no-repeat scroll top center;
	min-height: 160px;
	position: relative;
	padding-bottom: 30px;
}
#postscript-wrapper {
	margin-bottom: 0;
	padding-top: 10px;
}
#postscript-wrapper,
#footer-wrapper {
/*	background-color: #0A2963;*/
/*	border-top: 5px solid #fff;*/
	font-size: .8em;
/*	text-align: center;*/
}
#logo {
	position: absolute;
	top: 10px;
	left: 188px;
}
#loginout {
	text-align: center;
	background-color: black;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
#loginout p {
	padding: .5em 0;
	margin: 0;
}

.block-region {
	color: #222;
}



#directors {
	width: 200px;
	height: 40px;
	position: absolute;
	top: 10px;
	left: 10px;
}
#directors span {
	display: block;
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
	color: white;
}
#directors .dName {
	font-size: 13px;
	font-weight: bold;
}
#directors .dTitle {
	font-size: 12px;
	font-weight: normal;
}

/*MISSION/PHOTO Block on Home Page-------------*/
#block-block-1 {
	margin-top: 15px;
}



.node {
	border-color: #ccc;
}




/*SIDEBARS -------------------------------*/
#sidebar-first-inner {
	width: 142px;
}

.sidebar ul {
	margin-left: 0;
	padding-left: 0;
}



/*SIDEBAR-FIRST -------------*/

/*SIDEBAR-LAST --------------*/
#sidebar-last {
	margin-left: 0;
}

.field-field-page-photo {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
	-moz-box-shadow: -3px 3px 7px #ccc;
	-webkit-box-shadow: -3px 3px 7px #ccc;
	box-shadow: -3px 3px 7px #ccc;
	
}

.view-issues span.more {
	font-size: .5em;
	letter-spacing: 1px;
}
.view-issues .views-row {
	border-bottom: 1px solid #ccc;
	padding-bottom: 1em;
	margin-bottom: 1em;
}





/*BANNER IMAGE AREA ---------------*/
#preface-wrapper .view-banner-rotator {
	position: relative;
	top: 20px;
}
.view-banner-rotator .views-row {
	border: 5px solid #FFF;
}
.view-banner-rotator .views-row img {
	display: block;
}
.bannerOverlay {
	background: url('../images/overlay_banner.png')  repeat-x scroll top left;
	width: 950px;
	height: 10px;
	position: absolute;
	top:0;
	left: 0px;
	z-index: 30;
}

/*------------SOCIAL MEDIA LINKS ------------*/
#block-block-3 {
	text-align: right;
}

#socialIcons {
/*	height: 34px;*/
	margin-top: 10px;
	margin-bottom: 10px;
}
#socialIcons a.thumbnail {
	background-image: url('../images/social-sprites.png');
	background-repeat: no-repeat;
	text-indent: 9000px;
	overflow: hidden;
	cursor: pointer;
	display: block;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	width: 24px;
	height: 24px;
/*	position: relative;*/
	float: right;
}
#socialIcons a#facebook {
	background-position: -24px 0px;
}
a#facebook:hover {
/*	background-position: 0px -86px;*/
}
#socialIcons a#twitter {
	background-position: -48px 0px;
}
a#twitter:hover {
/*	background-position: -43px -86px;*/
}
#socialIcons a#youtube {
	background-position: -168px 0px;
}
a#youtube:hover {
/*	background-position: 0px -32px;*/
}




.breadcrumb {
	color: #BDBDBD;
}
.imgLeft {
	border: 3px solid #ccc;
	float: left;
	margin-right: 2em;
	margin-bottom: 1em;
}
.clearme {
	clear: both;
}





/*TYPOGRAPHY ========================================*/

body {
	color: #505050;
	font-family: "Rosario", Arial, Helvetica, sans-serif;
	font-size: .9em;
}

#footer-first {
	margin-top: 10px;
}

#postscript-wrapper,
#footer-wrapper {
	color: #CFCACA;
	font-size: .8em;
}
#postscript-wrapper a,
#footer-wrapper a {
	color: #BACEF2;
	font-weight: bold;
}
#postscript-wrapper a:hover,
#footer-wrapper a:hover {
	text-decoration: none;
	color: #ffc;
}
#block-block-4 {
	text-align: center;
}

#block-block-7 {
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	padding: 5px;
	border: 1px solid;
	margin: 20px 0 10px 0;
}

/*NEWS -------------------------------------*/
.view-news .views-row {
	border-bottom: 1px solid #ccc;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.view-news .news-image {
	float: right;
	margin-left: 10px;
	margin-bottom: 20px;
}
.view-news .news-image img {
	border: 5px solid #ccc;
}

.view-news .submitted {
	color: #848484;
	float: left;
	width: 100px;
	margin-right: 20px;
	padding: 5px 3px;
	border-right: 1px solid #ccc;
	text-align: center;
	margin-bottom: 20px;
}
.view-news .submitted .field-news-day {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
	display: block;
}
.view-news .submitted .field-news-month {
	text-transform: uppercase;
	font-weight: bold;
}
.view-news .node-body {
	clear: both;
}



/*FORMS ========================================*/
input[type="text"],
input[type="password"],
textarea {
	color: #5D5D5D;
	border:1px solid #ccc;
	padding: 3px 5px;
	font-size: 1.2em;
	width: 300px;
}
.sidebar input[type="text"] {
	color: #5D5D5D;
	width: 150px;
}
.sidebar input[type="submit"] {
	background-color: #7E000C;
	color: #fff;
	border:3px solid #fff;
	padding: 4px 7px;
	font-size: 1.2em;
}
form.webform-client-form label {
	color: #B4B4B4;
	text-transform: uppercase;
}

/*STAFF PAGE +++++++++++++++++++++++++++++*/
.view-staff .staff-photo {
	width: 245px;
	float: left;
}
.view-staff .staff-photo img {
	border: 5px solid #fff;
	-moz-box-shadow: 5px 5px 7px #999;
	-webkit-box-shadow: 5px 5px 7px #999;
	box-shadow: 5px 5px 7px #999;
}
.view-staff .editLink {
	width: 205px;
	text-align: center;
}
.view-staff .staff-info {
	margin-left: 250px;
}
.view-staff .row {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}



/*PROCESS Page ------*/
h3.process {
	background-color: #732327;
	color: white;
	padding: 5px 30px;
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
}



#site-menu li{
	text-align: left;
}

.help {
	background-color: #E3E3E3;
	border-width: 0;
}
.clearme {
	clear: both;
}

/*Administration +++++++++++++++++++++++++++*/
tr.even, tr.odd {
	background-color: #E3E3E3;
	border-bottom: 1px solid #fff;
}
.description {
	color: #FCFFDB;
}
div.admin-dependencies, 
div.admin-required {
	color: #CCC;
}
div.status {
	background-color: #E3E3E3;
	color: #333;
	border-color: #E3E3E3;
}
.messages {
	margin: 20px 0;
}

/*Partner's Plan*/
table#partnerTable th,
table#partnerTable2 th {
	padding: .5em;
}
table#partnerTable td,
table#partnerTable2 td {
	padding: .5em;
	border-bottom: 1px solid #A9A9A9;
	border-right: 1px solid #A9A9A9;
}
table#partnerTable td:last-child,
table#partnerTable2 td:last-child {
	border-right: 0px solid #A9A9A9;
}
small {
	font-size: 85%;
}

/*Fishin 4 Mission page*/
table tr.silver {
	font-size: 130%;
}
.kids-derby,
#fishRegister {
	border: 1px solid #606060;
	padding: 20px;
}
.kids-derby h3 {
	font-family: "Comic Sans MS",cursive,Arial,Helvetica,sans-serif;
	text-align: center;
}
.SOMETHING {
	font-size: 140%;
}
#node-page-53 td {
	text-align: center;
	vertical-align: middle;
}
#fishRegister {
	text-align: center;
	margin-bottom: 1em;
}
/*Reset Attachments Table Alignment*/
#node-page-53 #attachments td {
	text-align: left;
}