{% extends "main_layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript" >
$(document).ready(function(){
        $('.donation_table').DataTable();
        $('#datepicker').datepicker();
});
</script>
{% endblock %}

{% block body %}<div id="node-page-2" >

    <strong>Hello {{ name }}!</strong> 
    
    <br />
    
    Your donations for the week of <strong>4/17/16 - 4/23/16:</strong>

    <br /> <!-- <- Delete. crap style, use css -->

    <a id="export_table" href="#">Export data to Excel</a>

    {{ table }}

    {% if admin %}
    <strong>TODO!!!! - Add link to add donations via scanning here!</strong>
    {% endif %}
</div>	
{% endblock %}
