{% extends "main_layout.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %}

{% block body %}
{% if invalid %}
<!-- Sorry, your username/password was invalid. -->
Use <strong>admin</strong> for username and <strong>admin</strong> for password.
{% endif %}
<form action="login" method="POST" name="login">
    <h4>Username</h4>
    <input type="text" name="username">
    <h4>Password</h4>
    <input type="password" name="password">
    <input id="submit_info" type="submit" name="Sign In"> Don't have an account? <a href="register">Register here.</a>
</form>
{% endblock %}
