{% extends "main_layout.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %}

{% block body %}
<form action="login" method="POST" name="login">
    <h4>Username</h4>
    {{ form.username }}
    <h4>Password</h4>
    {{ form.password }}
    {{ form.csrf_token }}
    <input id="submit_info" type="submit" name="Sign In"> 
    {% if not admin %}
    Don't have an account? <a href="register">Register here.</a>
    {% endif %}
</form>
{% endblock %}
