{% extends "layout.html" %}

{% block site_header %}
<div id="site-header" class="container-16 clearfix">
    <div id="directors">
        <span class="dName">TEST</span>
    </div> 
    <div id="branding" class="grid-4">
        <div id="logo"> 
            <a href="/" class="active"><img src="{{ url_for('static', filename='images/logo.png')  }}" alt="Soul Food Café Mission" title="Soul Food Café Mission" width="583" height="91" /></a>        
        </div>
    </div>
    <div>
        <ul class="nice-menu nice-menu-down" id="nice-menu-0">
            <li class="menu-311 menu-path-front front first odd "><a href="#" title="Home" >home</a></li>
            <li class="menu-336 menu-path-node-2 even "><a href="#" title="About">About</a></li>
            <li class="menu-403 menu-path-staff odd "><a href="#">staff</a></li>
            <li class="menu-551 menu-path-node-11 even "><a href="#" title="SFCM Building Fund">Building Fund</a></li>
            <li class="menu-550 menu-path-node-10 odd "><a href="#" title="Soul Food Cafe Mission Schedule">Schedule</a></li>
            <li class="menu-496 menu-path-node-9 even "><a href="#" title="Contact Us">Contact Us</a></li>
            <li class="menu-650 menu-path-node-15 odd "><a href="#" title="The Process">The Process</a></li>
            <li class="menu-652 menu-path-node-20 even "><a href="#" title="Donate">Donate</a></li>
            <li class="menu-753 menu-path-node-52 odd "><a href="#" title="Partner&#039;s Plan">Partner</a></li>
            <li class="menu-800 menu-path-node-10 even">
                <a href="login">Login</a>
            </li>
            <li class="menu-800 menu-path-node-10 odd last"><a href="donations">Donations</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block banner %}
<div id="preface-wrapper" class="container-16 clearfix">
    <div id="preface-first" class="preface grid-7">
        <div id="block-block-1" class="block block-block">

            <div class="content">
                <p><img alt="" src="{{ url_for('static', filename='images/home-photo.png') }}" /></p>
            </div>
        </div>
    </div>
    <div id="preface-middle" class="preface grid-9">
        <div id="block-views-banner_rotator-block_1" class="block block-views">
            <div class="content">
                <div class="view view-banner-rotator view-id-banner_rotator view-display-id-block_1 view-dom-id-2">

                    <span class="field-content"><img  class="imagefield imagefield-field_banner_image" width="510" height="250" alt="" src="http://soulfoodcafemission.org/sites/default/files/banner-images/IMG_2300_0.jpg?1452139139" /></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block site_footer %}
<div id="bottomRunner">
    <div id="loginout">
        <p><a href="#">Admin</a></p>
    </div>
</div> 
{% endblock %}

