{% extends "main_layout.html" %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %}

{% block body %}
<form action="register" method="POST" name="register">
    <h4>Email Address</h4>
    {{ form.email }}
    <h4>Username</h4>
    {{ form.username }}
    <h4>Password</h4>
    {{ form.password }}
    <h4>Confirm Password</h4>
    {{ form.confirm_password }}
    {{ form.csrf_token }}
    <input type="submit" name="Register" id="submit_info"> 
</form>
{% endblock %}
